body { 
    font-family: "Montserrat", sans-serif;
    margin:0;
    background-color:#000;
    color:#fff;
    overflow:hidden;   
}

.main {
    display:flex;
    height:100vh;
    padding:0.25rem;
}

.sidebar {
    background-color:black;
    width:300px;
    margin:0.25rem;
    border-radius:1rem; /**16px*/

}

.main-content {
    background-color:#121212;
    flex:1;
    border-radius:1rem; /**16px*/
    overflow:auto;

}

.music-player {
    background-color:black;
    position:fixed;
    bottom:0;
    height:72px;
    width:100%;
}
a {
    text-decoration:none;
    color:white;
}
.navbar {
    background-color:#121212;
    border-radius:1rem;
    display:flex;
    flex-direction: column ;
    justify-content: center;
   height:100px;
   padding: 0.5rem 0.75rem;
}

.navoption{
    line-height: 2.5rem;
    opacity:0.7;
    padding:0.5rem 0.75rem;
}
.navoption:hover {
   opacity:1;
}

.navoption i {
    font-size:1.25rem;
}

.navoption a {
    font-size:1rem;
    margin-left:1rem;
}

.library {
    background-color: #121212;
    border-radius:1rem;
    height:100%;
    margin-top:0.5rem;
    padding:0.5rem 0.5rem 0.75rem 0.25rem;
}
.options {
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.liboption img {
    height:1rem;
    width:1rem;
}

.icons {
   font-size:1.25rem;
   display:flex;
}
.icons i  {
    opacity: 0.7;
    margin-right:1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin:0.75rem 0 1.75rem 0;
    padding:0.75rem 0 1rem 0.5rem;
}  
.box-p1 {
    font-size:1rem;
    font-weight:500;
    

}
.box-p2 {
    font-size:0.75rem;
    opacity:0.8;
    
}
.badge {
    background-color: white;
    border:none;
    border-radius: 100px;
    padding:0.25rem 1rem;
    font-weight:700;
     margin-top:0.5rem;
     height: 2rem;
     width:fit-content;
}

.stickynavbar {
    position:sticky;
    top:0;
    background-color:#121212;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    margin-right:1.5rem;
}

.stickynavicons {
   margin-left:0.75rem;   
}

.stickynavoptions {
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.nav-items {
    margin-right:1rem;
}

.darkbadge {
    background-color: black;
    color:#fff;
}

@media (max-width:1000px)
{
    .hide {
        display:none;
    }
}